In [1]:
import preprocessingFuncts as pp
import pandas as pd
import numpy as np

Best and Worst User Data

Unweighted User Data

In [2]:
b= pp.Unweighteduserdata("gender")
for n in b:
    display(n)

In [3]:
b= pp.Unweighteduserdata("occupation")
for n in b:
    display(n)

In [4]:
b= pp.Unweighteduserdata("age_group")
for n in b:
    display(n)

Weighted User Data

In [5]:
a = pp.Weighteduserdata(30,"gender")
for i in a:
    display(i)

In [6]:
a = pp.Weighteduserdata(30,"occupation")
for i in a:
    display(i)

In [46]:
a = pp.Weighteduserdata(30,"age_group")
for i in a:
    display(i)

Weighted Item Data

In [8]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"unknown")
if c==None:
    print (c)
else:
    display(c)

Weighted data for Unknown genre does not exist
None

In [9]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Action")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [10]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Adventure")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [11]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Animation")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [12]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Children's")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [13]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Comedy")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [14]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Crime")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [15]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Documentary")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [16]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Drama")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [17]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Fantasy")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [18]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Film-Noir")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [19]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Horror")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [20]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Musical")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [21]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Mystery")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [22]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Romance")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [23]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Sci-Fi")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [24]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Thriller")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

In [25]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"War")
for x in c:
    display(x)

In [26]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
c= pp.Weighteditemdata(30,"Western")
for x in c:
    display(x)
# d= pp.Unweighteditemdata("Action")
# for y in d:
#     display(y)

Unweighted Item Data

In [27]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("unknown")
for y in d:
    display(y)

In [28]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Action")
for y in d:
    display(y)

In [29]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Adventure")
for y in d:
    display(y)

In [30]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Animation")
for y in d:
    display(y)

In [31]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Children's")
for y in d:
    display(y)

In [32]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Comedy")
for y in d:
    display(y)

In [33]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Crime")
for y in d:
    display(y)

In [34]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Documentary")
for y in d:
    display(y)

In [35]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Drama")
for y in d:
    display(y)

In [36]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Fantasy")
for y in d:
    display(y)

In [37]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Film-Noir")
for y in d:
    display(y)

In [38]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Horror")
for y in d:
    display(y)

In [39]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Musical")
for y in d:
    display(y)

In [40]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Mystery")
for y in d:
    display(y)

In [41]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Romance")
for y in d:
    display(y)

In [42]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Sci-Fi")
for y in d:
    display(y)

In [43]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Thriller")
for y in d:
    display(y)

In [44]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("War")
for y in d:
    display(y)

In [45]:
#["unknown", "Action", "Adventure", "Animation", "Children's","Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
d= pp.Unweighteditemdata("Western")
for y in d:
    display(y)