In [35]:
#imports

import pandas as pd
import numpy as np
import preprocessingFuncts as pp
from sklearn import neighbors
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt

In [39]:

#all base datas

def readData(paths, base, categories=[]):
  arr = []
  itemData = pp.readItemData()
  userData = pp.readUserData()
  for path in paths:
    ratingData = pp.readRatingData(path)
    data = 0
    if base == "user":
      data = pp.specifyByUserData(userData, ratingData, categories)
    elif base == "item":
      data = pp.specifyByItemData(itemData, ratingData, categories)
    else:
      raise Exception("readData(path, base, categories) base can only be \"user\" or \"item\"")
    data = data.dropna()
    y = data.loc[:,'rating']
    x = data.copy()
    x = x.drop(['rating'], axis='columns')
    arr.append({'x':x,'y':y,'name':path[8:10],'type':path[-4:]})
  return arr

In [40]:
# user-based, vanilla

toRead = [
    'ml-100k\\ua.base','ml-100k\\ua.test',
    'ml-100k\\ub.base','ml-100k\\ub.test',
    'ml-100k\\u1.base', 'ml-100k\\u1.test',
    'ml-100k\\u2.base', 'ml-100k\\u2.test',
    'ml-100k\\u3.base', 'ml-100k\\u3.test',
    'ml-100k\\u4.base', 'ml-100k\\u4.test',
    'ml-100k\\u5.base', 'ml-100k\\u5.test',
]

userBasedDF = readData(toRead,"item",'all')
userBasedDF

[{'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...
  90565     1678  1998        0       0          0          0           0
  90566     1679  1998        0       0          0          0           0
  90567     1680  1998        0       0          0          0           0
  90568     1681  1994        0       0          0          0           0
  90569     1682  1996        0       0          0          0           0

         Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0           1      0            0  ...          0       0        0        0
  1           1      0            0  ...          0       0        0        0
  2           1      0            0  ...          0       0        0        0
  3           1      0            0  ...          0       0        0        0
  4           1      0            0  ...          0       0        0        0
  ...       ...    ...          ...  ...        ...     ...      ...      ...
  90565       0      0            0  ...          0       0        0        0
  90566       0      0            0  ...          0       0        0        0
  90567       0      0            0  ...          0       0        0        0
  90568       1      0            0  ...          0       0        0        0
  90569       0      0            0  ...          0       0        0        0

         Romance  Sci-Fi  Thriller  War  Western  user_id
  0            0       0         0    0        0        1
  1            0       0         0    0        0        2
  2            0       0         0    0        0        6
  3            0       0         0    0        0       10
  4            0       0         0    0        0       13
  ...        ...     ...       ...  ...      ...      ...
  90565        0       0         0    0        0      863
  90566        1       0         1    0        0      863
  90567        1       0         0    0        0      863
  90568        0       0         0    0        0      896
  90569        0       0         0    0        0      916

  [90562 rows x 22 columns],
  'y': 0        5
  1        4
  2        4
  3        4
  4        3
          ..
  90565    1
  90566    3
  90567    2
  90568    3
  90569    3
  Name: rating, Length: 90562, dtype: int64,
  'name': 'ua',
  'type': 'base'},
 {'x':       item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0           1  1995        0       0          0          1           1
  1           1  1995        0       0          0          1           1
  2           1  1995        0       0          0          1           1
  3           1  1995        0       0          0          1           1
  4           1  1995        0       0          0          1           1
  ...       ...   ...      ...     ...        ...        ...         ...
  9425     1646  1998        0       1          0          0           0
  9426     1653  1996        0       0          0          0           0
  9427     1656  1998        0       0          0          0           0
  9428     1662  1997        0       0          0          0           0
  9429     1664  1997        0       0          0          0           0

        Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0          1      0            0  ...          0       0        0        0
  1          1      0            0  ...          0       0        0        0
  2          1      0            0  ...          0       0        0        0
  3          1      0            0  ...          0       0        0        0
  4          1      0            0  ...          0       0        0        0
  ...      ...    ...          ...  ...        ...     ...      ...      ...
  9425       0      0            0  ...          0       0        0        0
  9426       0      0            0  ...          0       0        0        0
  9427       1      0            0  ...          0       0        0        0
  9428       0      0            0  ...          0       0        0        0
  9429       1      0            0  ...          0       0        0        0

        Romance  Sci-Fi  Thriller  War  Western  user_id
  0           0       0         0    0        0        5
  1           0       0         0    0        0       17
  2           0       0         0    0        0       66
  3           0       0         0    0        0       67
  4           0       0         0    0        0       95
  ...       ...     ...       ...  ...      ...      ...
  9425        0       0         0    0        0      828
  9426        0       0         0    0        0      675
  9427        1       0         0    0        0      713
  9428        1       0         0    0        0      762
  9429        0       0         0    0        0      839

  [9429 rows x 22 columns],
  'y': 0       4
  1       4
  2       3
  3       3
  4       5
         ..
  9425    4
  9426    5
  9427    2
  9428    1
  9429    1
  Name: rating, Length: 9429, dtype: int64,
  'name': 'ua',
  'type': 'test'},
 {'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...
  90565     1678  1998        0       0          0          0           0
  90566     1679  1998        0       0          0          0           0
  90567     1680  1998        0       0          0          0           0
  90568     1681  1994        0       0          0          0           0
  90569     1682  1996        0       0          0          0           0

         Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0           1      0            0  ...          0       0        0        0
  1           1      0            0  ...          0       0        0        0
  2           1      0            0  ...          0       0        0        0
  3           1      0            0  ...          0       0        0        0
  4           1      0            0  ...          0       0        0        0
  ...       ...    ...          ...  ...        ...     ...      ...      ...
  90565       0      0            0  ...          0       0        0        0
  90566       0      0            0  ...          0       0        0        0
  90567       0      0            0  ...          0       0        0        0
  90568       1      0            0  ...          0       0        0        0
  90569       0      0            0  ...          0       0        0        0

         Romance  Sci-Fi  Thriller  War  Western  user_id
  0            0       0         0    0        0        1
  1            0       0         0    0        0        2
  2            0       0         0    0        0        5
  3            0       0         0    0        0        6
  4            0       0         0    0        0       10
  ...        ...     ...       ...  ...      ...      ...
  90565        0       0         0    0        0      863
  90566        1       0         1    0        0      863
  90567        1       0         0    0        0      863
  90568        0       0         0    0        0      896
  90569        0       0         0    0        0      916

  [90561 rows x 22 columns],
  'y': 0        5
  1        4
  2        4
  3        4
  4        4
          ..
  90565    1
  90566    3
  90567    2
  90568    3
  90569    3
  Name: rating, Length: 90561, dtype: int64,
  'name': 'ub',
  'type': 'base'},
 {'x':       item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0           1  1995        0       0          0          1           1
  1           1  1995        0       0          0          1           1
  2           1  1995        0       0          0          1           1
  3           1  1995        0       0          0          1           1
  4           1  1995        0       0          0          1           1
  ...       ...   ...      ...     ...        ...        ...         ...
  9425     1624  1998        0       0          0          0           0
  9426     1652  1997        0       0          0          0           0
  9427     1654  1998        0       0          0          0           0
  9428     1658  1996        0       0          0          0           0
  9429     1661  1994        0       0          0          0           0

        Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0          1      0            0  ...          0       0        0        0
  1          1      0            0  ...          0       0        0        0
  2          1      0            0  ...          0       0        0        0
  3          1      0            0  ...          0       0        0        0
  4          1      0            0  ...          0       0        0        0
  ...      ...    ...          ...  ...        ...     ...      ...      ...
  9425       0      0            0  ...          0       0        0        0
  9426       0      0            0  ...          0       0        0        0
  9427       1      0            0  ...          0       0        0        0
  9428       0      0            0  ...          0       0        0        0
  9429       0      0            0  ...          0       0        0        0

        Romance  Sci-Fi  Thriller  War  Western  user_id
  0           0       0         0    0        0       20
  1           0       0         0    0        0       41
  2           0       0         0    0        0       45
  3           0       0         0    0        0       93
  4           0       0         0    0        0       96
  ...       ...     ...       ...  ...      ...      ...
  9425        0       0         1    0        0      587
  9426        1       0         0    0        0      662
  9427        0       0         0    0        0      676
  9428        0       0         0    0        0      782
  9429        0       0         0    0        0      751

  [9430 rows x 22 columns],
  'y': 0       3
  1       4
  2       5
  3       5
  4       5
         ..
  9425    2
  9426    3
  9427    1
  9428    2
  9429    1
  Name: rating, Length: 9430, dtype: int64,
  'name': 'ub',
  'type': 'test'},
 {'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...
  79995     1678  1998        0       0          0          0           0
  79996     1679  1998        0       0          0          0           0
  79997     1680  1998        0       0          0          0           0
  79998     1681  1994        0       0          0          0           0
  79999     1682  1996        0       0          0          0           0

         Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0           1      0            0  ...          0       0        0        0
  1           1      0            0  ...          0       0        0        0
  2           1      0            0  ...          0       0        0        0
  3           1      0            0  ...          0       0        0        0
  4           1      0            0  ...          0       0        0        0
  ...       ...    ...          ...  ...        ...     ...      ...      ...
  79995       0      0            0  ...          0       0        0        0
  79996       0      0            0  ...          0       0        0        0
  79997       0      0            0  ...          0       0        0        0
  79998       1      0            0  ...          0       0        0        0
  79999       0      0            0  ...          0       0        0        0

         Romance  Sci-Fi  Thriller  War  Western  user_id
  0            0       0         0    0        0        1
  1            0       0         0    0        0        2
  2            0       0         0    0        0        6
  3            0       0         0    0        0       13
  4            0       0         0    0        0       16
  ...        ...     ...       ...  ...      ...      ...
  79995        0       0         0    0        0      863
  79996        1       0         1    0        0      863
  79997        1       0         0    0        0      863
  79998        0       0         0    0        0      896
  79999        0       0         0    0        0      916

  [79997 rows x 22 columns],
  'y': 0        5
  1        4
  2        4
  3        3
  4        5
          ..
  79995    1
  79996    3
  79997    2
  79998    3
  79999    3
  Name: rating, Length: 79997, dtype: int64,
  'name': 'u1',
  'type': 'base'},
 {'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...
  19995     1565  1992        0       0          0          0           0
  19996     1578  1967        0       0          0          0           0
  19997     1582  1947        0       0          0          0           0
  19998     1586  1992        0       1          0          0           0
  19999     1591  1998        0       0          0          0           0

         Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0           1      0            0  ...          0       0        0        0
  1           1      0            0  ...          0       0        0        0
  2           1      0            0  ...          0       0        0        0
  3           1      0            0  ...          0       0        0        0
  4           1      0            0  ...          0       0        0        0
  ...       ...    ...          ...  ...        ...     ...      ...      ...
  19995       0      0            0  ...          0       0        0        0
  19996       0      0            0  ...          0       0        0        0
  19997       0      0            0  ...          1       0        0        0
  19998       0      1            0  ...          0       0        0        0
  19999       0      0            0  ...          0       0        0        0

         Romance  Sci-Fi  Thriller  War  Western  user_id
  0            0       0         0    0        0        5
  1            0       0         0    0        0       10
  2            0       0         0    0        0       15
  3            0       0         0    0        0       17
  4            0       0         0    0        0       18
  ...        ...     ...       ...  ...      ...      ...
  19995        0       0         0    0        0      405
  19996        0       0         0    0        0      405
  19997        0       0         0    0        0      405
  19998        0       0         0    0        0      405
  19999        0       0         0    0        0      445

  [19994 rows x 22 columns],
  'y': 0        4
  1        4
  2        1
  3        4
  4        5
          ..
  19995    1
  19996    1
  19997    1
  19998    1
  19999    4
  Name: rating, Length: 19994, dtype: int64,
  'name': 'u1',
  'type': 'test'},
 {'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...
  79995     1678  1998        0       0          0          0           0
  79996     1679  1998        0       0          0          0           0
  79997     1680  1998        0       0          0          0           0
  79998     1681  1994        0       0          0          0           0
  79999     1682  1996        0       0          0          0           0

         Comedy  Crime  Documentary  ...  Film-Noir  Horror  Musical  Mystery  \
  0           1      0            0  ...          0       0        0        0
  1           1      0            0  ...          0       0        0        0
  2           1      0            0  ...          0       0        0        0
  3           1      0            0  ...          0       0        0        0
  4           1      0            0  ...          0       0        0        0
  ...       ...    ...          ...  ...        ...     ...      ...      ...
  79995       0      0            0  ...          0       0        0        0
  79996       0      0            0  ...          0       0        0        0
  79997       0      0            0  ...          0       0        0        0
  79998       1      0            0  ...          0       0        0        0
  79999       0      0            0  ...          0       0        0        0

         Romance  Sci-Fi  Thriller  War  Western  user_id
  0            0       0         0    0        0        5
  1            0       0         0    0        0        6
  2            0       0         0    0        0       10
  3            0       0         0    0        0       15
  4            0       0         0    0        0       17
  ...        ...     ...       ...  ...      ...      ...
  79995        0       0         0    0        0      863
  79996        1       0         1    0        0      863
  79997        1       0         0    0        0      863
  79998        0       0         0    0        0      896
  79999        0       0         0    0        0      916

  [79991 rows x 22 columns],
  'y': 0        4
  1        4
  2        4
  3        1
  4        4
          ..
  79995    1
  79996    3
  79997    2
  79998    3
  79999    3
  Name: rating, Length: 79991, dtype: int64,
  'name': 'u2',
  'type': 'base'},
 {'x':        item_id  year  unknown  Action  Adventure  Animation  Children's  \
  0            1  1995        0       0          0          1           1
  1            1  1995        0       0          0          1           1
  2            1  1995        0       0          0          1           1
  3            1  1995        0       0          0          1           1
  4            1  1995        0       0          0          1           1
  ...        ...   ...      ...     ...        ...        ...         ...

In [41]:
knnModel = neighbors.KNeighborsClassifier(n_neighbors=5) # n_neighbors parameter can be changed
#THIS IS THE MOST VANILLA TEST!!!

knnModel.fit(userBasedDF[0]['x'].values,userBasedDF[0]['y'].values)

KNeighborsClassifier()

In [ ]:
# print(userBasedDF[1]['x'].loc[0].values.reshape(-1, 1))
# print("predicted - " +
#       knnModel.predict(userBasedDF[1]['x'].loc[0]))
# print("test - " + userBasedDF[1]['y'].loc[0])

In [43]:
predict_y = knnModel.predict(userBasedDF[1]['x'].values)

print('Predicted y:\n', predict_y)
print('\nActual y:\n', userBasedDF[1]['y'].values)

mask = predict_y == userBasedDF[1]['y'].values
print('\nCoreect?\n', mask)
print('\ncorrect rate:', sum(mask)/len(mask))

# print(knn.score(X_test, y_test))

Predicted y:
 [4 5 3 ... 3 1 3]

Actual y:
 [4 4 3 ... 2 1 1]

Coreect?
 [ True False  True ... False  True False]

correct rate: 0.30734966592427615

In [ ]:
# CONCLUSION, THIS METHOD IS SHIT AND I'M STARTING OVER