In [2]:
import preprocessingFuncts as pp
import pandas

<h3>Reading the ratings data</h3>
returns a pandas data frame with cleaned data from u.data

In [27]:
ratings = pp.readRatingData()
ratings = ratings.sort_values(by=['user_id','item_id']).reset_index().drop('index',axis=1)
ratings[0:10]

   user_id  item_id  rating
0        1        1       5
1        1        2       3
2        1        3       4
3        1        4       3
4        1        5       3
5        1        6       5
6        1        7       4
7        1        8       1
8        1        9       5
9        1       10       3

<h3>Reading the item data</h3>
returns a pandas data frame with cleaned data from u.item (no title, sry, thought it's not important)

In [4]:
items = pp.readItemData()
items

,item_id,year,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,1995,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1995,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,1998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,1998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,1998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,1994,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,1996,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<h3>Reading the user data</h3>
returns a pandas data frame with cleaned data from u.user. Occupation and gender column's contents are now nominal.

In [5]:
users = pp.readUserData()
#users.head()
users

     user_id  age  gender  occupation zip_code age_category
0          1   24       1          19    85711            3
1          2   53       0          13    94043            6
2          3   23       1          20    32067            3
3          4   24       1          19    43537            3
4          5   33       0          13    15213            4
..       ...  ...     ...         ...      ...          ...
938      939   26       0          18    33319            3
939      940   32       1           0    02215            4
940      941   20       1          18    97229            2
941      942   48       0          10    78209            5
942      943   22       1          18    77841            3

[943 rows x 6 columns]

<h3>Specifying data to analyze based on user</h3>
returns a pandas data frame with the user_id, item_id, rating and any specified category from the user attributes. takes input from user data and ratings data

In [6]:
pp.specifyByUserData(users, ratings, ["gender"]).head()

   user_id  gender  item_id  rating
0        1       1       61       4
1        1       1      189       3
2        1       1       33       4
3        1       1      160       4
4        1       1       20       4

<h3>Specifying data to analyze based on item</h3>
returns a pandas data frame with the item_id, item_id, rating and any specified category(only between "year" and "genre") from the item attributes, takes input from user data and ratings data

In [7]:
pp.specifyByItemData(items, ratings, "year").head()

   item_id  year  user_id  rating
0        1  1995      308       4
1        1  1995      287       5
2        1  1995      148       4
3        1  1995      280       4
4        1  1995       66       3