In [1]:
import preprocessingFuncts as pp
import pandas

<h3>Reading the ratings data</h3>
returns a pandas data frame with cleaned data from u.data

In [2]:
ratings = pp.readRatingData()
ratings.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

<h3>Reading the item data</h3>
returns a pandas data frame with cleaned data from u.item (no title, sry, thought it's not important)

In [3]:
items = pp.readItemData()
items.head()

,item_id,year,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1995,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,1995,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1995,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

<h3>Reading the user data</h3>
returns a pandas data frame with cleaned data from u.user. Occupation and gender column's contents are now nominal.

In [4]:
users = pp.readUserData()
users.head()

   user_id  age  gender  occupation zip_code
0        1   24       1          19    85711
1        2   53       0          13    94043
2        3   23       1          20    32067
3        4   24       1          19    43537
4        5   33       0          13    15213

<h3>Specifying data to analyze based on user</h3>
returns a pandas data frame with the user_id, item_id, rating and any specified category from the user attributes. takes input from user data and ratings data

In [5]:
pp.specifyByUserData(users, ratings, ["gender"]).head()

   user_id  gender  item_id  rating
0        1       1       61       4
1        1       1      189       3
2        1       1       33       4
3        1       1      160       4
4        1       1       20       4

<h3>Specifying data to analyze based on item</h3>
returns a pandas data frame with the item_id, item_id, rating and any specified category(only between "year" and "genre") from the item attributes, takes input from user data and ratings data

In [6]:
pp.specifyByItemData(items, ratings, "year").head()

   item_id  year  user_id  rating
0        1  1995      308       4
1        1  1995      287       5
2        1  1995      148       4
3        1  1995      280       4
4        1  1995       66       3